p {
  line-height: 1.5;
}

@media(min-width:768px) {
  p {
    line-height: 1.7;
  }
}

    #content_main {
      margin-top: 2.0rem;
    }

    /*.tab-content {
      margin-top: 2.0rem;
    }

    .tab-content > .tab-pane > .container > .row > div > :first-child {
      margin-top: 0 !important;
    }*/

ul {
  list-style-type: none;
}

ul.no-padding {
  padding-left: 0;
}

.profile-tab-body ul li {
  margin-bottom: .75em;
}

.li li {
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {  
  .margin-top {
    margin-top: 2rem;
  }  
}

img {
  margin-bottom: 1rem;
}

@media (min-width:768px) {
  .bg-img {
    background-image: url(img/old-main.jpg);
    background-position: center 35%;
    padding: 40px;
  }
}

.uavitae {
  width: 10%;
}

.card-header {
  background-color: #ffffff;
}

/* STYLES FOR HOME PAGE */

.img-small {
    width: 20%;
    vertical-align: middle;
    margin-bottom: .5rem;
}

@media (min-width:768px) {
.img-small {
      width: 10%;
      vertical-align: middle;
      margin-bottom: 1rem;
  }
}

/*///////// EDIT PROFILE /////////*/

.edit-profile-img {
  border: 1px solid lightgray;
  box-shadow: 3px 3px 15px #888888;
}

/* ////////// HOME PAGE \\\\\\\*/

.home-title {
  
}

.bg-gray {
  background-color: #f7f9f9;
  padding: 20px 10px 20px 10px;
}

.form-control:focus {
  border-color: #333333;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.050),
    0 0 8px rgba(73,89,94,.5);
}
.navbar-search{
  transition: transform .5s ease-in-out;
}
.not-loaded {
  -moz-transform: translateY(-10px);
-webkit-transform: translateY(-10px);
-o-transform: translateY(-10px);
-ms-transform: translateY(-10px);
transform: translateY(-10px);
}
.about {
  margin: 2em 0 4em 0;
}

@media(min-width:768px) {
  .about {
  margin: 0 0 8em 0;
  }
}

.about h4 {
  color: #333333;
}

.about p {
  line-height: 1.5;
}

.card {
  border: 1px solid #e5e5e5;
}

.no-border {
  border: none;
}

.card img {
  border: none;
  margin-bottom: 0;
}

.card-text {
  color: #777;
  
}

.caption {
  font-size: 87%;
  color: #777;
  margin-bottom: 0;
}

.credit {
  font-size: 82%;
  color: #aaa;
  font-style: italic;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 0;
}

.spotlight {
  
}

.spotlight  > h4 {
  color: #49595e;
  background-color: #eef1f1;
  padding: .2em;
}

.read-more {
  color: #ab0520;
  margin: 2em 0;
}

.sans {
  font-family: MiloWeb, Verdana, Geneva, sans-serif;
  font-weight: 700;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
/* ///////// SEARCH RESULTS \\\\\*/

.media-heading {
  color: #333333;
}

.media-list a li {
 font-weight: normal;  
}

.media-list a:hover {
  text-decoration: none;
}

.media-list a li:hover {
  background-color: #eef1f1;
}

.media {
  border-bottom: 1px solid #eef1f1;
  padding: 1em;
}

.media-right img {
  height: 99px;
}

.media-body div {
  color: #49595e;
}

.text-red {
  color: #ab0520;
}

/*////////////RELATED PUBLICATIONS///////////*/
#related .media-right img {
  height: 69px;
  margin-bottom: 0;
}

#related .media {
  border: 1px solid #eef1f1;
  border-top: none;
  padding: .7em;
  line-height: 1.25;
}

#related .border-top {
  border-top: 1px solid #eef1f1;
}

/* /////////// NOT IN USE \\\\\\\\\\\*/
.banner-image {
    width: 100%;
    background-position: center;
}

@media(min-width: 768px) {
    .banner-image {
      /*background-image: url("img/abstract-building.jpg");*/
      background-repeat: no-repeat;
      height: 300px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
} 
/*///////////////\\\\\\\\\\\\\\*/

.navbar-search {
  margin: 0 auto;
  margin-top: 1.5em;
  
}

@media (min-width:768px) {
.navbar-search {
    width: 60%;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
  }
}
